#hello1 {
  color: red;
  background-color: yellow;
}
#hello2 {
  color: green;
}
@font-face{
  font-family:"koverwatch";
  src:url("font/hoonromanregular.ttf") format("truetype");
  font-style:normal;
  font-weight:normal;
}

body {
    background-image : url("background.jpg");
    background-color : #cccccc;
    font-family: koverwatch;
    font-size: 36px;
}

a {
    -webkit-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -moz-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -ms-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    -o-transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    transition: all 200ms cubic-bezier(0.390, 0.500, 0.150, 1.360);
    display: block;
    margin: 20px auto;
    max-width: 50px;
    max-height: 50px;
    text-decoration: none;
    border-radius: 10px;
    padding: 3% 3%;
    font-size: 15px;
}

a.button1 {
    color: rgba(255, 255, 255, 0.85);
    box-shadow: rgba(255, 255, 255, 0.85) 0 0px 0px 2px inset;
    text-align: center;
}

a.button1:hover {
    color: rgba(255, 255, 255, 1);
    box-shadow: rgba(255, 255, 255, 1) 0 0px 0px 10px inset;
    text-align: center;
    font-style : Italic;
}



table {
  width: 100%;
  min-width: 300px;
  margin-bottom: 2.4rem;
  background-color: #20262e;
  color: #fff;
  overflow: hidden;
}

table tr:nth-child(even) {
  background-color: rgb(46, 53, 62);
}

table th,
table td:before {
  font-size : 24px;
}

table th {
  display: none;
}

table th,
table td {
  margin: .5rem 2rem;
  text-align: left;
}

table td {
  display: block;
  font-size: 90%;
}

table td:first-child {
  padding-top: 1rem;
}

table td:last-child {
  padding-bottom: 1rem;
}

table td:before {
  content: attr(data-th) ':\00a0';
  font-weight: bold;
  min-width: 8rem;
  display: inline-block;
}

.table-2 table td:before {
  min-width: 0;
}

.table-3 table {
  background-color: rgb(46, 53, 62);
}

.table-3 table tr:nth-child(even) {
  background-color: transparent;
}

.table-3 table td:before {
  width: 100%;
  font-weight: normal;
  opacity: .8;
}

.table-3 table td {
  margin: 0;
  padding: 1.5rem 2rem 0 2rem;
  font-weight: bold
}

.table-3 table tr td:first-child {
  background-color: #20262e;
  padding-top: 1.5rem;
  padding-bottom: 1.5rem;
}

.table-3 table tr td:last-child {
  padding-bottom: 1.5rem;
  border-bottom: 4px solid rgba(255, 255, 255, .3)
}

.table-3 table tr:last-child td:last-child {
  border-bottom: none;
}

@media (min-width: 600px) {
  table td:before {
    display: none;
  }
  table th,
  table td {
    display: table-cell;
  }
  table th,
  table td,
  table td:first-child,
  table td:last-child {
    padding: 1.5rem 2rem;
  }
  .table-3 table {
    background-color: #20262e;
  }
  .table-3 table tr:nth-child(even) {
    background-color: rgb(46, 53, 62);
  }
  .table-3 table td {
    margin: .5rem 2rem;
    padding: 1.5rem 2rem;
    font-weight: normal
  }
  .table-3 table tr td:first-child {
    background-color: transparent;
  }
  .table-3 table tr td:last-child {
    border-bottom: none;
  }
}.type01 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    border-top: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    margin: 20px 10px;
}
table.type01 thead th {
    width: 150px;
    padding: 10px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    background: #e7708d;
    margin: 20px 10px;
}
table.type01 tbody th {
    width: 150px;
    padding: 10px;
}
table.type01 td {
    width: 350px;
    padding: 10px;
    vertical-align: top;
}
table.type01 .even {
    background: #fdf3f5;
}

table.type02 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    font-size : 20px;
}
table.type02 thead th {
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    border-bottom: 3px solid #A3C4DA;
}
table.type02 tbody th {
    width: 150px;
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 3px solid #ccc;
    background: #f3f6f7;
}
table.type02 td {
    width: 350px;
    padding: 20px;
    vertical-align: top;
    border-bottom: 3px solid #ccc;
    font-family : koverwatch;
    color : white;
}
table.type03 {
    border-collapse: collapse;
    text-align: left;
    line-height: 1.5;
    font-size : 20px;
}
table.type03 thead th {
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    color: #fff;
    border-bottom: 0px solid #A3C4DA;
}
table.type03 tbody th {
    width: 150px;
    padding: 20px;
    font-weight: bold;
    vertical-align: top;
    border-bottom: 3px solid #ccc;
    background: #f3f6f7;
}
table.type03 td {
    width: 350px;
    padding: 20px;
    vertical-align: top;
    border-bottom: 3px solid #ccc;
    font-family : koverwatch;
    color : white;
    font : 60px;
    font-style : Italic;
  
}

h1 {
  font-family : koverwatch;
  font-size : 60px;
  font-style : Italic;
  text-align : center;
  color : white;
}

h6 {
  font-family : koverwatch;
  font-size : 20px;
  text-align : center;
  color : white;
  font-style : Italic;
}
